Back-end/transaction-service/src/main/resources/xsd/transactionEvent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://themoneywallet.com/transactionservice/event"
           xmlns:tns="http://themoneywallet.com/transactionservice/event"
           elementFormDefault="qualified">

    <xs:element name="TransactionEvent">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="eventId" type="xs:string"/>
                <xs:element name="eventType" type="xs:string"/>
                <xs:element name="timestamp" type="xs:dateTime"/>
                <xs:element name="transactionId" type="xs:string"/>
                <xs:element name="payload" type="xs:string"/> <!-- JSON string of specific event data -->
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>