Back-end/transaction-service/src/main/resources/xsd/transactionResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://themoneywallet.com/transactionservice/response"
           xmlns:tns="http://themoneywallet.com/transactionservice/response"
           xmlns:common="http://themoneywallet.com/transactionservice/common"
           elementFormDefault="qualified">

    <xs:import namespace="http://themoneywallet.com/transactionservice/common"
               schemaLocation="commonTypes.xsd"/>

    <xs:element name="TransactionResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="transactionId" type="xs:string"/>
                <xs:element name="status" type="common:TransactionStatus"/>
                <xs:element name="message" type="xs:string" minOccurs="0"/>
                <xs:element name="timestamp" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>